# -----------------------------------------------------------------
# 1. SEGURIDAD (¡Lo Más Importante!)
# -----------------------------------------------------------------
# Variables de Entorno (Contiene contraseñas y claves secretas)
.env
.env.local

# -----------------------------------------------------------------
# 2. DEPENDENCIAS Y BINARIOS (Para mantener el repositorio pequeño)
# -----------------------------------------------------------------
# Carpeta de módulos (se genera con 'npm install')
node_modules/

# Directorios de salida (Si usas Babel, Webpack, etc.)
dist/
build/
coverage/

# -----------------------------------------------------------------
# 3. LOGS Y CACHÉ
# -----------------------------------------------------------------
# Logs de errores de NPM y sistema
*.log
npm-debug.log*
yarn-error.log*

# Caché de módulos y npm
.npm/
.cache/

# -----------------------------------------------------------------
# 4. CONFIGURACIÓN DEL EDITOR/IDE
# -----------------------------------------------------------------
# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# -----------------------------------------------------------------
crearUsuarios.js